body {
    margin: 0;
    cursor: none;
    --gradient: linear-gradient(90deg, rgb(197, 25, 25), rgb(195, 107, 14));
    --box-shadow: 0 0px 50px rgba(255, 255, 255, 0.558),
                  inset 0 0 20px rgba(250, 245, 245, 0.558);
    --yellow: rgb(252, 181, 29);
    font-family: sans-serif;
}
.App {
    width: max-content;
    height: max-content;
}
#background {
    position: relative;
}
#character-options {
    position: absolute;
    background-color: white;
    height: 1%;
    width: 12%;
    font-size: 1.5rem;
    border-radius: 20px;
}
#character-options:hover {
    cursor: pointer;
}
.character-options {
    position: absolute;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 20px;
}
.character-options .character {
    height: 33%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-bottom: 1px solid grey;
}
[id='Robot City'] {
    height: 2.5%;
    width: 10%;
}
[id='Universe 113'] {
    height: 4%;
    width: 10%;
}
[id='A.D.2222'] {
    z-index: 10;
    height: 1%;
    width: 12%;
}
.character:hover {
    background-color: grey;
}
/* HEADER */
#header {
    position: fixed;
    top: 0;
    width: 90vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
}
#message {
    position: absolute;
    left: 45%;
    color: white;
}
#timer {
    font-size: 40px;
    color: white;
    font-weight: 900;
}
#show-leaderboard {
    border-radius: 20px;
    border: none;
    width: 10%;
    min-width: 107px;
    font-size: 1rem;
    font-weight: 900;
    background-color: var(--yellow);
}
#leaderboard {
    background-color: white;
    width: 20%;
    border-radius: 20px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 40%;
}
.score {
    display: flex;
    justify-content: space-between;
    margin: 10% 10%;
    border-bottom: 1px solid grey;
    height: 20%;
}
.score > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
#title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7%;
    margin: 0 10%;
    border-bottom: 1px solid grey;
}
#title h4{
    margin: 10% 0;
}
/* INPUT */
#enter-name {
    position: fixed;
    top: 45%;
    left: 45%;
    background-color: white;
    height: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 100;
    cursor: auto;
}
button[type=submit] {
    margin-top: 5%;
    border: none;
    height: 35%;
    width: 35%;
    background-color: var(--yellow);
    border-radius: 20px;
    font-weight: 900;
}
/* CURSOR */
#cursor {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 4px dashed white;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
.no-events {
    pointer-events: none;
}
.no-events > #character-options {
    pointer-events: auto;
}
/* CHOOSE GAME */
#page {
    background-image: var(--gradient);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: auto;
    color: rgb(44, 22, 0);
}
#start-btn {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#start {
    height: 70%;
    width: 10%;
    border-radius: 10px;
    border: none;
    background-color: var(--yellow);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 3%;
}
#start:hover, #show-leaderboard:hover, button[type=submit]:hover {
    box-shadow: var(--box-shadow);
    background-color: rgb(3, 126, 208);
    color: rgb(251, 228, 183);
}
#choose-game {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
}
.game {
    display: flex;
    width: 90%;
    height: 85%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-image: var(--gradient);
}
.game:hover {
    box-shadow: var(--box-shadow);
}
.game-container {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game > * {
    pointer-events: none;
}
.content {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: rgba(252, 221, 221, 0.303);
}
.title {
    margin: 2% 0;
}
.background {
    height: 80%;
    width: 50%;
    border-radius: 20px;
}
.characters {
    height: 80%;
    width: 33%;
}
.character-div {
    display: flex;
    height: 40%;
    width: 100%;
}
.character {
    width: 90%;
    height: 90%;
}
.name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;

}
