body {
    margin: 0;
    cursor: none;
    --gradient: linear-gradient(90deg, rgb(201, 14, 14), rgb(56, 56, 56));
}
.App {
    width: max-content;
    height: max-content;
}
#background {
    position: relative;
}
#character-options {
    position: absolute;
    background-color: white;
    z-index: 10;
    height: 1%;
    width: 20%;
    font-size: 1.5rem;
}
#character-options:hover {
    cursor: pointer;
}
.character {
    height: 33%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.character:hover {
    background-color: grey;
}
/* CURSOR */
#cursor {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 4px dashed white;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
.no-events {
    pointer-events: none;
}
.no-events > #character-options {
    pointer-events: auto;
}
/* CHOOSE GAME */
#page {
    background-image: var(--gradient);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    cursor: auto;
}
#choose-game {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
}
.game {
    display: flex;
    width: 90%;
    height: 85%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-image: var(--gradient);
}
.game-container {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: rgba(252, 221, 221, 0.303);
}
.background {
    height: 80%;
    width: 50%;
}
.characters {
    height: 80%;
    width: 33%;
}
.character-div {
    display: flex;
    height: 40%;
    width: 100%;
}
.character {
    width: 90%;
    height: 90%;
}
.name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
}
